@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap);

.basket_page_title {
  font-family: "Lexend Deca", sans-serif !important;
  font-size: x-large !important;
  font-weight: bold !important;
}
