html {
  font-size: 14px;
 background-color: white;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: var(--font-poppins);
  text-decoration: none;
  list-style-type: none;
}


.p-card-title {
  font-size: 18px !important;
}

.p-card-subtitle {
  font-size: 14px !important;
  color: gray;
}